<!-- wp:pattern {"slug":"wp-starter/a11y-skip-link"} /-->

<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","anchor":"wp--skip-link--target","layout":{"type":"constrained"}} -->
<main id="wp--skip-link--target" class="wp-block-group">
	<!-- wp:pattern {"slug":"wp-starter/posts-index-header"} /-->

	<!-- wp:template-part {"slug":"query"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
